<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lzx.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.SwipeMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.LinearLayoutActivity" />
        <activity android:name=".ui.EndlessLinearLayoutActivity" />
        <activity android:name=".ui.EndlessGridLayoutActivity" />
        <activity android:name=".ui.EndlessStaggeredGridLayoutActivity" />
        <activity android:name=".ui.EmptyViewActivity" />
        <activity android:name=".ui.SectionCollectionActivity" />
        <activity android:name=".ui.SectionLayoutActivity" />
        <activity android:name=".ui.SectionAnimalActivity" />
        <activity android:name=".ui.AllMenuActivity" />
        <activity android:name=".ui.ViewTypeMenuActivity" />
        <activity android:name=".ui.DragMenuListActivity" />
        <activity android:name=".ui.GridDragMenuActivity" />
        <activity android:name=".ui.SwipeDeleteListActivity" />
    </application>

</manifest>