<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lzx.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />
        <activity android:name=".ui.CommonActivity" />
        <activity android:name=".ui.LinearLayoutActivity" />
        <activity android:name=".ui.EndlessLinearLayoutActivity" />
        <activity android:name=".ui.EndlessGridLayoutActivity" />
        <activity android:name=".ui.EndlessStaggeredGridLayoutActivity" />
        <activity android:name=".ui.EmptyViewActivity" />
        <activity android:name=".ui.SectionCollectionActivity" />
        <activity android:name=".ui.SectionLayoutActivity" />
        <activity android:name=".ui.SectionAnimalActivity" />
        <activity android:name=".ui.CollapsingToolbarLayoutActivity" />
        <activity android:name=".ui.SwipeRefreshLayoutActivity" />
        <activity android:name=".ui.ExpandableRecyclerViewOneActivity" />
        <activity android:name=".ui.MulItemLinearLayoutActivity" />
        <activity android:name=".ui.MulItemGridLayoutActivity" />
        <activity android:name=".ui.SwipeMenuActivity" />
        <activity android:name=".ui.SwipeDeleteActivity" />
        <activity android:name=".ui.PartialRefreshActivity" />
        <activity android:name=".ui.NestRecyclerViewActivity" />
        <activity android:name=".ui.Nest2RecyclerViewActivity" />
        <activity android:name=".ui.BannerHeaderLayoutActivity" />
        <activity android:name=".ui.ListDragMenuActivity" />
        <activity android:name=".multitype.MultiTypeActivity" />
        <activity android:name=".multitype.BilibiliActivity" />
        <activity android:name=".multitype.ExpandableActivity" />
        <activity android:name=".ui.PulldownRefreshActivity" />
        <activity android:name=".ui.ScrollViewLayoutActivity" />
        <activity android:name=".ui.WebViewActivity" />
        <activity android:name=".ui.LinearLayoutDelActivity" />
    </application>

</manifest>